<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <form action="/login" method="POST" style="margin:150px;">
      <label for="username">Login:</label>
      <input id="username" type="text" name="username" placeholder="username" style="width: 300px">
      <input type="submit" value="Sign In">
    </form>
  </body>
</html>