<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <!-- registration form -->
    <form action="/register " method="POST" style="margin:150px;">
      <label for="email">Sign up:</label>
      <input id="username" type="email" name="email" placeholder="your email" style="width: 300px">
      <input id="username" type="password" name="password" placeholder ='password' style="width: 300px">
      <input type="submit" value="Sign up">
    </form>
  </body>
</html>