<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header.ejs %>
</header>
<body>
   <p><button><a href="/urls/new">New</a></button></p>
   <ul>
   <%Object.keys(urls)%>
    <%for (let url in userUrls){%>
    <li>
        <%= userUrls[url].shortURL %> : <%= userUrls[url].url %>
        <button><a href = "/urls/<%=userUrls[url].shortURL%>">Edit</a></button>
        <form method="POST" action="/urls/<%=userUrls[url].shortURL%>/delete"><button type="submit" >Delete</button></form>
    </li>
    <%}%>
  </ul>
</body>
</html>