<!DOCTYPE html>
<html>
<body>
<header>
    <h2> Old URL: <%=longURL%> </h2>
</header>
<!-- form to update shortened urls -->
<form method="POST" action="/urls/<%=shortURL%>/update">
<input id="update" type="text" name="update" value="https://" style="width: 300px">
<input type="submit" value="Update">
</form>
</body>
</html>
