<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <% include partials/_header %>
    <!-- form to create new shortened urls -->
    <form action="/urls" method="POST" style="margin:150px;">
      <label for="longURL">Enter a URL:</label>
      <input id="longURL" type="text" name="longURL" value = "http://" placeholder = "www.lighthouselabs.ca" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>