<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<header>
    <% include ./partials/_header.ejs %>
</header>
<body>
   <ul>
   <% Object.keys(urls) %>
    <% for (let url in urls){%>
    <li>
        <%= url %> : <%= urls[url] %>
        <form method="POST" action="/urls/<%=url%>/delete"><input type="submit" value="Delete"> </form>
        <button><a href = "/urls/<%=url%>">Edit</a></button>
    </li>
    <%}%>
  </ul>
</body>
</html>